*{
    margin: 0px 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
  background:#0f172a;
  padding:12px 20px;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo img{
  width:55px;
}

.nav-menu{
  display:none;
  list-style:none;
}

.nav-menu a{
  color:white;
  text-decoration:none;
  font-weight:500;
}

.menu-toggle{
  display:flex;
  flex-direction:column;
  gap:4px;
}

.bar{
  width:24px;
  height:3px;
  background:white;
}
@media(min-width:768px){

  .menu-toggle{
    display:none;
  }

  .nav-menu{
    display:flex;
    gap:30px;
  }

}

.hero{
    background-color: #f8fafc;
    padding: 40px 20px;
}
.main-container{
    max-width: 1200px;
    margin: auto;
}
.hero-grid{
  display:grid;
  gap:20px;
}
h1{
    font-size: 28px;
    color: #0f172a;
    line-height: 1.3;
}
.hero p{
    color: #475569;
    font-size: 16px;
}
.wbtn{
    display: inline-block;
    background: #25d366;
    color: white;
    width: 50%;
    padding: 14px 22px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 10px;
}
.hero img{
    width: 100%;
    border-radius: 12px;
}
.hero-text{
  display:flex;
  flex-direction:column;
  gap:18px;
  align-items: center;
}
@media(min-width:768px){

  .hero{
    padding:70px 40px;
  }

  .hero-grid{
    grid-template-columns:1fr 1fr;
    align-items:center;
  }

  .hero h1{
    font-size:42px;
  }

}

.dishes{
  padding: 50px 20px;
  background-color: #fff;
}
h2{
  text-align: center;
  font-size: 26px;
  color: #0f172a;
  margin-bottom: 30px;
}
.dish-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
}
.card{
  background-color: white;
  border-radius: 14px;
  padding: 15px;
  box-shadow: 0 6px 20px rgba(0,0,0,.06);
  text-align: center;
}
.dish-img{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.card h3{
  margin-top:12px;
  font-size:20px;
  color:#0f172a;
}
.card p{
  margin:8px 0 15px;
  color:#16a34a;
  font-weight:600;
}
.dish-wbtn{
  display:inline-block;
  background:#25D366;
  color:white;
  padding:10px 18px;
  border-radius:8px;
  text-decoration:none;
  font-size:14px;
  font-weight:600;
}
@media(min-width:768px){

  .dish-grid{
    grid-template-columns:repeat(2,1fr);
  }

}
@media(min-width:1024px){

  .dish-grid{
    grid-template-columns:repeat(3,1fr);
  }

}
.card:hover{
  transform:translateY(-5px);
  transition:0.3s;
}
.food-menu{
  padding:60px 20px;
  background:#f8fafc;
}

.food-menu-grid{
  display:grid;
  grid-template-columns:1fr;
  gap:25px;
}
.menu-card{
  background:white;
  border-radius:16px;
  padding:20px;
  text-align:center;
  box-shadow:0 8px 25px rgba(0,0,0,0.06);
}
.menu-card img{
  width:100%;
  height:160px;
  object-fit:cover;
  border-radius:12px;
  margin-bottom:15px;
}
.menu-card h3{
  font-size:22px;
  color:#0f172a;
  margin-bottom:15px;
}
.menu-card button{
  background:#0f172a;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
}
@media(min-width:768px){

  .food-menu-grid{
    grid-template-columns:repeat(2,1fr);
  }

}
@media(min-width:1024px){

  .food-menu-grid{
    grid-template-columns:repeat(3,1fr);
  }

}
.menu-card:hover{
  transform:translateY(-6px);
  transition:0.3s;
}

.why-us{
  padding: 60px 20px;
  background: white;
}
p{
  text-align:center;
  color:#64748b;
  margin-bottom:40px;
}
.why-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(280px, 320px));
  justify-content:center;
  gap:25px;
}

.why-card{
  background:#f8fafc;
  padding:25px 20px;
  border-radius:14px;
  text-align:center;
}
.why-card img{
  width:60px;
  margin-bottom:15px;
}
.why-card h3{
  font-size:20px;
}
.why-card p{
  font-size:15px;
  color:#475569;
}
@media(min-width:768px){

  .why-grid{
    grid-template-columns:repeat(2,1fr);
  }

}
@media(min-width:1024px){

  .why-grid{
    grid-template-columns:repeat(3,1fr);
    justify-content: center;
  }

}
.why-card:hover{
  transform:translateY(-5px);
  transition:0.3s;
}

.location{
  padding:60px 20px;
  background:#f8fafc;
}
.loc-grid{
  display:grid;
  grid-template-columns:1fr;
  gap:30px;
}
.left-loc{
  background:white;
  padding:25px;
  border-radius:14px;
  box-shadow:0 6px 20px rgba(0,0,0,0.05);
}
.left-loc h3{
  color:#0f172a;
  margin-bottom:10px;
}
.right-loc iframe{
  width:100%;
  height:300px;
  border-radius:14px;
}
@media(min-width:768px){

  .loc-grid{
    grid-template-columns:1fr 1fr;
    align-items:center;
  }

  .right-loc iframe{
    height:400px;
  }

}
@media(min-width:1024px){

  .right-loc iframe{
    height:450px;
  }

}
.left-loc:hover{
  transform:translateY(-5px);
  transition:0.3s;
}
.cta{
  padding:60px 20px;
  background:#16a34a;
  text-align:center;
}
.cta h2{
  color:white;
  font-size:26px;
  margin-bottom:15px;
}
.cta p{
  color:#dcfce7;
  margin-bottom:25px;
  font-size:16px;
}
.cta .wbtn{
  background:white;
  color:#16a34a;
  padding:14px 26px;
  border-radius:10px;
  font-weight:700;
  text-decoration:none;
  display:inline-block;
}
@media(min-width:768px){

  .cta{
    padding:80px 20px;
  }

  .cta h2{
    font-size:34px;
  }

}
.cta .wbtn:hover{
  transform:translateY(-3px);
  transition:0.2s;
}

footer{
  background: #020617;
  color: #e2e8f0;
  padding: 60px 20px 30px;
}
.footer-grid{
  display: grid;
  grid-template-columns:1fr;
  gap: 30px;
}
.footer-card h2{
  color: white;
  margin-bottom: 15px;
}
.footer-card p{
  color: #94a3b8;
  line-height: 1.6;
}
.footer-card li{
  list-style: none;
  margin-bottom: 10px;
}
.footer-card a{
  color: #cbd5f5;
  text-decoration: none;
}
.footer-card a:hover{
  color: white;
}

@media(min-width:768px){

  .footer-grid{
    grid-template-columns: repeat(2,1fr);
  }
}
@media(min-width:1024px){

  .footer-grid{
    grid-template-columns: repeat(3,1fr);
  }
}
.footer-bottom{
  grid-column: 1/-1;
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #64748b;
}